@model Project.ViewModels.ContactoViewModel

<!-- Modal -->
<div id="mContacto" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("EnviarCorreo", "Default", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Contactar</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Nombre)
                        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = "Juan de los Palotes" })
                        @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Correo)
                        @Html.TextBoxFor(x => x.Correo, new { @class = "form-control", placeholder = "juancho@gmail.com" })
                        @Html.ValidationMessageFor(x => x.Correo, null, new { @class = "label label-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Mensaje)
                        @Html.TextAreaFor(x => x.Mensaje, new { @class = "form-control", placeholder = "Genio." })
                        @Html.ValidationMessageFor(x => x.Mensaje, null, new { @class = "label label-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Cancelar</button>
                    <button type="submit" data-ajax="true" class="btn btn-primary btn-lg">Enviar</button>
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function CerrarContacto() {
        $("mContacto").modal('hide');
    }
</script>