@model Experiencia
@{
    ViewBag.Title = (Model.id > 0 ? Model.Nombre : "Nuevo registro");
}

<h2 class="page-header">
    @(Model.id > 0 ? Model.Nombre : "Nuevo registro")
</h2>

<ol class="breadcrumb">
    <li><a href="~/admin/experiencia?tipo=@Model.Tipo">@(Model.Tipo == 1 ? "Trabajos" : "Estudios previos")</a></li>
    <li> @(Model.id > 0 ? Model.Nombre : "Nuevo registro") </li>
</ol>

@using (Html.BeginForm("Save", "Experiencia", FormMethod.Post))
{
    @Html.HiddenFor( x => x.id )
    @Html.HiddenFor( x => x.Tipo )
    @Html.HiddenFor( x => x.Usuario_id )

    <div class="form-group">
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", placeholder = (Model.Tipo == 1 ? "Apple" : "UTN Rosario") })
        @Html.ValidationMessageFor(x => x.Nombre, null, new { @class = "label label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Titulo)
        @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", placeholder = (Model.Tipo == 1 ? "Desarrollador iOS" : "Ing. en Sistemas") })
        @Html.ValidationMessageFor(x => x.Titulo, null, new { @class = "label label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Desde)
        @Html.TextBoxFor(x => x.Desde, new { @class = "form-control", placeholder = "01-01-2018" })
        @Html.ValidationMessageFor(x => x.Desde, null, new { @class = "label label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Hasta)
        @Html.TextBoxFor(x => x.Hasta, new { @class = "form-control", placeholder = "10-10-2018" })
        @Html.ValidationMessageFor(x => x.Hasta, null, new { @class = "label label-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion)
        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control", placeholder = (Model.Tipo == 1 ? "xCode y Swift" : "Programación, arquitectura de software") })
        @Html.ValidationMessageFor(x => x.Descripcion, null, new { @class = "label label-danger" })
    </div>

    <div class="text-right well well-sm">
        <button type="submit" data-ajax="true" class="btn btn-primary">Guardar</button>
    </div>
}

